<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <%= link_to 'Receipt Manager', root_path, id: 'navbar-title' %>

  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item ml-2">
        <%= link_to 'Upload Receipt', new_receipt_path %>
      </li>
      <li class="nav-item ml-2">
        <%= link_to 'My Receipts', receipts_path %>
      </li>
      <li class="nav-item ml-2">
        <%= link_to 'Logout', logout_path, method: :delete %>
      </li>
    <% else %>
      <li class="nav-item ml-2">
        <%= link_to 'Login', login_path %>
      </li>
    <% end %>
  </ul>
</nav>
